body {
  height: 100vh;
}
.header {
  height: auto;
  color: white;
  display: grid;
  justify-items: center;
  align-content: center;
}

.header_text{
  font-family: Cambria;
}

.footer {
  height: 7vh;
  color: white;
  display: grid;
  justify-items: center;
  align-content: center;
}

.blog {
  margin-top: 15vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.pg-container {
  display: grid;
  justify-items: center;
  align-content: center;
  margin-top: 5px;
  margin-bottom: 15vh;
}

.page-item {
  margin: 5px;
}

.post_body{
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.post_image {
  height: 40vh;
  width: 50vw
}